---
---

@import "{{ site.theme }}";

#logo {
	display: block;
	min-width: 500px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

img {
	height: auto;
}

img.screenshot {
	min-width: 350px;
	max-width: 350px;
}

table.projects td {
	// make table cell borders invisible
	border: 1px solid #00000000;
	// align text to top of table cells
	vertical-align: top;
}
